[bdpressure bd_pa]
##   usb example
# port:usb
# serial:auto  # serial:/dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
# #serial:/dev/serial/by-id/usb-1a86_USB_Serial-if00-port0  ## uncomment this if you only have bd_pressure an no bd_width device
# #serial:/dev/serial/by-path/ReplaceWithYourDevicePath  # You need to use ls /dev/serial/by-path , and determine which entry belongs to bd_pressure. if yu change the port it's plugged into, you will need to adjust this after doing so to reflect the new usb port you moved it to.
# baud:38400

##   i2c example
port: i2c
i2c_mcu: mcu
i2c_software_scl_pin: PB8
i2c_software_sda_pin: PB9
thrhold: 4    # thrhold for the probe triger value,recommend value 3 to 10

[probe]
pin: ^PG6
x_offset: 0
y_offset: 0
z_offset: -0.03
speed: 9
lift_speed:9
samples: 2
samples_result: median
sample_retract_dist: 3
samples_tolerance: 0.03
samples_tolerance_retries: 5
activate_gcode:
  PA_RESET
  PA_RESET