[bdpressure bd_pa]
port: i2c
i2c_mcu: mcu
i2c_software_scl_pin: PB8
i2c_software_sda_pin: PB9
thrhold: 4    # thrhold for the probe triger value,recommend value 3 to 10

[probe]
#pin: ^PG11
x_offset: 0
y_offset: 0
z_offset: -0.03
speed: 9
lift_speed:9
samples: 2
samples_result: median
sample_retract_dist: 3
samples_tolerance: 0.03
samples_tolerance_retries: 5
activate_gcode:
  PA_RESET
  PA_RESET