[BDsensor]
# Don't use aliases for the board pins
sda_pin: PE10 # example of connecting to main board Creality V4.2.7
scl_pin: PE9
#scl_pin:MKS_THR:gpio20 # example of connecting to CAN module like MKS THR42
#sda_pin:MKS_THR:gpio11
#scl_pin:host:gpio17 # example of connecting to GPIO on RaspberryPi
#sda_pin:host:gpio27
delay: 10 # you can set it 10 if the BDsensor version is >=1.2
z_offset:0 #  within -0.6 to 0.6mm
x_offset: 0
y_offset: -30
no_stop_probe: # fast probe that the toolhead will not stop at the probe point,disable it by commenting out.
position_endstop: 1.2 #the triggered position, recommend value is 1~2.8
collision_homing:1 #  set it 1 to enable homing with nozzle collision sensing.
collision_calibrate:1 # set it 1 to enable auto calibrate BDsensor with nozzle collision sensing.
#QGL_Tilt_Probe:0 # set 1 to enable probe up and down when do quad_gantry_level,default is 1
speed:3 # this speed only works for the z tilt and PROBE_ACCURACY command.
homing_cmd: G28 # needed by the auto calibration.the default is G28, please set it G990028 if there has [gcode_macro G28]

#### Macros to implement sensorless homing
[gcode_macro _HOME_X]
gcode:
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={0.45}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={0.45}
    G4 P500                                          # Wait for StallGuard registers to clear
    G28 X
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={printer['tmc2209 stepper_x'].run_current}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={printer['tmc2209 stepper_y'].run_current}
    G91                                              # Move away to centre of build surface
    G1 X50 F6000                                    # Changed for Micro Swiss NG

[gcode_macro _HOME_Y]
gcode:
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT=0.45
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT=0.45
    G4 P500                                          # Wait for StallGuard registers to clear
    G28 Y
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={printer['tmc2209 stepper_x'].run_current}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={printer['tmc2209 stepper_y'].run_current}    
    G91                                              # Move away to centre of build surface
    G1 Y50 F6000                                   # Changed for Micro Swiss NG

[homing_override]
axes: xyz     
#SET_POSITION_Z: 5
gcode:
  {% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}

  {% if home_all or 'X' in params %}
    _HOME_X
  {% endif %}
  
  {% if home_all or 'Y' in params %}
    _HOME_Y
  {% endif %}
  
  {% if home_all or 'Z' in params %} 
    G28 Z
    G1 Z10
  {% endif %}