[gcode_macro Z_TILT_ADJUST]
rename_existing: _Z_TILT_ADJUST
gcode:
    SAVE_GCODE_STATE NAME=STATE_Z_TILT
    BED_MESH_CLEAR
    {% if not printer.z_tilt.applied %}
    _Z_TILT_ADJUST horizontal_move_z=8 retry_tolerance=1
    {% endif %}
    _Z_TILT_ADJUST horizontal_move_z=2
    RESTORE_GCODE_STATE NAME=STATE_Z_TILT

#### Macros to implement sensorless homing
[gcode_macro _HOME_X]
gcode:
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={0.45}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={0.45}
    G4 P500                                          # Wait for StallGuard registers to clear
    G28 X
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={printer['tmc2209 stepper_x'].run_current}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={printer['tmc2209 stepper_y'].run_current}
    G91                                              # Move away to centre of build surface
    G1 X50 F6000                                    # Changed for Micro Swiss NG

[gcode_macro _HOME_Y]
gcode:
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT=0.45
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT=0.45
    G4 P500                                          # Wait for StallGuard registers to clear
    G28 Y
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={printer['tmc2209 stepper_x'].run_current}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={printer['tmc2209 stepper_y'].run_current}    
    G91                                              # Move away to centre of build surface
    G1 Y50 F6000                                   # Changed for Micro Swiss NG

[homing_override]
axes: xyz     
#SET_POSITION_Z: 5
gcode:
  {% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}

  {% if home_all or 'X' in params %}
    _HOME_X
  {% endif %}
  
  {% if home_all or 'Y' in params %}
    _HOME_Y
  {% endif %}
  
  {% if home_all or 'Z' in params %} 
    G28 Z
    G1 Z10
  {% endif %}
    
[gcode_macro GOTO_BED_CENTER]
description: Fährt in die Mitte des Betts (basiert auf Stepper-Limits)
gcode:
    {% set mid_x = printer.toolhead.axis_maximum.x / 2 %}
    {% set mid_y = printer.toolhead.axis_maximum.y / 2 %}
    G90
    G1 Y{mid_y} Z10 F6000
    G1 X{mid_x} Z10 F6000
    
[gcode_macro PARK_FOR_HEATUP]
description: Parkt die Düse über der Bürste (basiert auf CLEAN_NOZZLE_VARIABLES)
gcode:
    {% set wipe_x = printer["gcode_macro CLEAN_NOZZLE_VARIABLES"].wipe_x %}
    {% set wipe_y_mid = (printer["gcode_macro CLEAN_NOZZLE_VARIABLES"].wipe_start_y + printer["gcode_macro CLEAN_NOZZLE_VARIABLES"].wipe_end_y) / 2 %}
    {% set travel_z = 25 %} #printer["gcode_macro CLEAN_NOZZLE_VARIABLES"].wipe_travel_z %}
    G90
    G1 X{wipe_x} Y{wipe_y_mid} Z{travel_z} F6000
    
[gcode_macro END_PRINT]
description: Beendet den Druck nach Wiki-Standard
gcode:
    M140 S0 ; Bett aus
    M104 S0 ; Hotend aus
    M106 S0 ; Lüfter aus
    G91
    G1 E-2 F2700
    G1 Z5 F3000
    G90
    G1 X5 Y{printer.toolhead.axis_maximum.y - 5} F6000
    BED_MESH_CLEAR
    SET_GCODE_OFFSET Z=0
    M84
    M117 Druck fertig.

[temperature_sensor btt_eddy_mcu]
sensor_type: temperature_mcu # Sets the type of sensor for Klipper to read
sensor_mcu: eddy # Sets the MCU of the eddy probe tempereature sensor
min_temp: 10 # Sets the minimum temperature for eddys tempereature sensor to operate
max_temp: 100 # Sets the maximum temperature for eddys tempereature sensor to operate

[temperature_sensor btt_eddy]
sensor_type: Generic 3950
sensor_pin: eddy:gpio26

[mcu eddy]
serial: /dev/serial/by-id/usb-Klipper_rp2040_5044506108734E1C-if00

#[probe_eddy_current btt_eddy]
#sensor_type: ldc1612
#i2c_mcu: eddy
#i2c_bus: i2c0f
#x_offset: 22
#y_offset: -18
#descend_z: 0.5 #2.0
#tap_threshold: 0
#tap_z_offset: 0

[probe_eddy_ng btt_eddy]
sensor_type: btt_eddy   # WICHTIG: Nicht ldc1612!
i2c_mcu: eddy           # Verweist auf die MCU oben
i2c_bus: i2c0f          # Das ist der interne Bus des BTT Eddy USB
x_offset: 26
y_offset: -18
tap_target_z: -0.6

[gcode_macro EDDY_SETUP]
description: Startet den Kalibrierungsvorgang für den Eddy Duo und heizt das Druckbett auf 55°C auf
gcode:
    {% if "xy" not in printer.toolhead.homed_axes %}
        G28 X Y
    {% endif %}
    G1 Z10 F3000
    G1 X165 Y165
    M117 Heize Bett auf...
    M190 S55
    M117 Temperatur erreicht...
    PROBE_EDDY_NG_SETUP

[gcode_macro EDDY_TAP]
description: Führt einen Eddy-basierten Tap aus (Z-Offset Ermittlung)
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
        G28
    {% endif %}
    PROBE_EDDY_NG_TAP
    
[gcode_macro EDDY_STATUS]
description: Gibt den Eddy Status aus
gcode:
    PROBE_EDDY_NG_STATUS
    
[gcode_macro EDDY_STATIC]
description: Gibt den Eddy Static value aus. Post Calibration.
gcode:
    PROBE_EDDY_NG_PROBE_STATIC
    
[gcode_macro RESET_EDDY_CALIBRATION]
description: Löscht die aktuelle Eddy-Kalibrierung (Vorsicht!)
gcode:
    PROBE_EDDY_NG_CLEAR_CALIBRATION
    M117 Eddy Calibration Cleared
    