#####################################################################
#  NEOPIXEL DEFINITION
#####################################################################

[neopixel caselighting]
pin: PB10
chain_count: 19              # Number of LEDs per single side
color_order: GRB
initial_RED: 0.25            # Soft, dimmed base light
initial_GREEN: 0.25
initial_BLUE: 0.25

#####################################################################
#  LED EFFECTS & MACROS
#####################################################################

# --- BUSY ---
[gcode_macro led_busy]
gcode:
    STOP_LED_EFFECTS         # Cancels all other running effects
    SET_LED_EFFECT EFFECT=nozzle_on

# --- CALIBRATING Z ---
[led_effect case_calibrating_z]
leds:
    neopixel:caselighting (1-19)
autostart: false
frame_rate: 24
layers:
    # Colors heavily reduced and slightly mixed for softer transitions
    comet 0.3 6 add (0.3, 0.08, 0.18), (0.15, 0.05, 0.25)
    comet -0.3 6 add (0.3, 0.08, 0.18), (0.15, 0.05, 0.25)
    
[gcode_macro led_calibrating_z]
gcode:
    STOP_LED_EFFECTS 
    SET_LED_EFFECT EFFECT=case_calibrating_z

# --- CLEANING ---
[led_effect case_cleaning]
leds:
    neopixel:caselighting
autostart: false
frame_rate: 24
layers:
    # Brightness halved to prevent camera glare from twinkling
    twinkle 4 0.05 add (0.0, 0.01, 0.25)
    twinkle 2 0.1 add (0.0, 0.03, 0.1)

[gcode_macro led_cleaning]
gcode:
    STOP_LED_EFFECTS 
    SET_LED_EFFECT EFFECT=case_cleaning

# --- HEATING ---
[led_effect case_heating]
leds:
    neopixel:caselighting (1-19)
autostart: false
frame_rate: 24
layers:
    # A gently pulsing, subtle orange-red
    breathing 3 1 top (0.4, 0.1, 0.0), (0.15, 0.02, 0.0)

[gcode_macro led_heating]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=case_heating

# --- CRITICAL ERROR ---
[led_effect critical_error]
leds:
    neopixel:caselighting
autostart: false
frame_rate: 24
run_on_error: true
layers:
    # White strobe heavily dimmed (0.4 instead of 1.0) to prevent camera sensor clipping
    strobe 1 1.5 add (0.4, 0.4, 0.4)
    breathing 2 0 difference (0.5, 0.0, 0.0)
    static 1 0 top (0.5, 0.0, 0.0)

[gcode_macro led_blinkenlights]
gcode:
    STOP_LED_EFFECTS 
    SET_LED_EFFECT EFFECT=critical_error
    