[neopixel caselighting]
pin: PB10
chain_count: 19              # Anzahl der LEDs pro Einzelseite
color_order: GRB
initial_RED: 0.3
initial_GREEN: 0.3
initial_BLUE: 0.3

[gcode_macro led_busy]
gcode:
    STOP_LED_EFFECTS ;cancel all others
    SET_LED_EFFECT EFFECT=nozzle_on

[led_effect case_calibrating_z]
leds:
    neopixel:caselighting (1-19)
autostart: false
frame_rate: 24
layers:
    comet 0.3 6 add (0.8,0.0,0.35),(0.4,0.0,0.7)
    comet -0.3 6 add (0.8,0.0,0.35),(0.4,0.0,0.7)
    
[gcode_macro led_calibrating_z]
gcode:
    STOP_LED_EFFECTS ;cancel all others
    SET_LED_EFFECT EFFECT=case_calibrating_z

[led_effect case_cleaning]
leds:
    neopixel:caselighting
autostart: false
frame_rate: 24
layers:
    twinkle 4 0.05 add (0.0,0.02,0.5)
    twinkle 2 0.1 add (0.0,0.06,0.2)

[gcode_macro led_cleaning]
gcode:
    STOP_LED_EFFECTS ;cancel all others
    SET_LED_EFFECT EFFECT=case_cleaning

### Critical Error ###
[led_effect critical_error]
leds:
    neopixel:caselighting
autostart: false
frame_rate: 24
run_on_error: true
layers:
    strobe 1 1.5 add (1.0, 1.0,1.0)
    breathing 2 0 difference (0.95,0.0,0.0)
    static 1 0 top (1.0,0.0,0.0)

[gcode_macro led_blinkenlights]
gcode:
    STOP_LED_EFFECTS ;cancel all others
    SET_LED_EFFECT EFFECT=critical_error ; This activates all LEDs

[led_effect case_heating]
leds:
    neopixel:caselighting (1-19)
autostart: false
frame_rate: 24