[neopixel caselighting]
pin: PB10
chain_count: 19              # Anzahl der LEDs pro Einzelseite
color_order: GRB
initial_RED: 0.6
initial_GREEN: 0.6
initial_BLUE: 0.6

[gcode_macro led_busy]
gcode:
    STOP_LED_EFFECTS ;cancel all others
    SET_LED_EFFECT EFFECT=nozzle_on

[led_effect case_calibrating_z]
leds:
    neopixel:caselighting (1-19)
autostart: false
frame_rate: 24
layers:
    comet 0.3 6 add (0.8,0.0,0.35),(0.4,0.0,0.7)
    comet -0.3 6 add (0.8,0.0,0.35),(0.4,0.0,0.7)
    
[gcode_macro led_calibrating_z]
gcode:
    STOP_LED_EFFECTS ;cancel all others
    SET_LED_EFFECT EFFECT=case_calibrating_z

[led_effect case_cleaning]
leds:
    neopixel:caselighting
autostart: false
frame_rate: 24
layers:
    twinkle 4 0.05 add (0.0,0.02,0.5)
    twinkle 2 0.1 add (0.0,0.06,0.2)

[gcode_macro led_cleaning]
gcode:
    STOP_LED_EFFECTS ;cancel all others
    SET_LED_EFFECT EFFECT=case_cleaning

### Critical Error ###
[led_effect critical_error]
leds:
    neopixel:caselighting
autostart: false
frame_rate: 24
run_on_error: true
layers:
    strobe 1 1.5 add (1.0, 1.0,1.0)
    breathing 2 0 difference (0.95,0.0,0.0)
    static 1 0 top (1.0,0.0,0.0)

[gcode_macro led_blinkenlights]
gcode:
    STOP_LED_EFFECTS ;cancel all others
    SET_LED_EFFECT EFFECT=critical_error ; This activates all LEDs

[led_effect case_heating]
leds:
    neopixel:caselighting (1-19)
autostart: false
frame_rate: 24
heater: heater_bed
layers:
    # FLIR Ironbow gradient
    static 0 0 subtract (0.5,0.5,0.5)
    heaterfire 20 1 top (0.97,0.99,0.59),(0.92,0.27,0.31),(0.98,0.71,0.00),(0.69,0.04,0.58),(0.08,0.02,0.35)
    heater 0 0 add  (0,0,0.5),(0.84,0.84,0)

[gcode_macro led_heating]
gcode:
	STOP_LED_EFFECTS ;cancel all
    SET_LED_EFFECT EFFECT=case_heating

[led_effect case_homing]
leds:
    neopixel:caselighting
autostart: false
frame_rate: 24
layers:
    chase 0.5 5 add (0.08,1.0,0.38),(0,0.35,0.11) 
    breathing 8 0 add (0,0.6,0.2),(0,0.46,0.15) 
    
[gcode_macro led_homing]
gcode: 
	STOP_LED_EFFECTS ;cancel all others
    SET_LED_EFFECT EFFECT=case_homing

[led_effect case_input_shaper]
leds:
    neopixel:caselighting 
autostart: false
frame_rate: 1
layers:
    static 0 0 top (0.25,0.0,0.5)
    
[gcode_macro led_input_shaper]
gcode:
	STOP_LED_EFFECTS ;cancel all others
    SET_LED_EFFECT EFFECT=case_input_shaper 

[led_effect case_leveling]
leds:
    neopixel:caselighting
autostart: false
frame_rate: 24
layers:
    comet 0.75 3 add (0,0.5,0.75),(0,1.0,1.0) 
    comet -0.75 3 add (0,0.5,0.75),(0,1.0,1.0)

[gcode_macro led_leveling]
gcode:
	STOP_LED_EFFECTS ;cancel all others
    SET_LED_EFFECT EFFECT=case_leveling

[led_effect case_meshing]
leds:
    neopixel:caselighting
autostart: false
frame_rate: 24 
layers:
    chase 0.25 0.50 add (0.2,1.0,0.0),(0.75,0.79,0.00) 
    chase -0.2 0.50 add (0.2,1.0,0.0),(0.75,0.79,0.00) 
    
[gcode_macro led_meshing]
gcode:
	STOP_LED_EFFECTS ;cancel all others
    SET_LED_EFFECT EFFECT=case_meshing

### Off ###
[led_effect case_off]
leds:
    neopixel:caselighting
autostart: false
frame_rate: 1
layers:
  static 0 0 top (0,0,0)

[gcode_macro led_case_off]
gcode:
    SET_LED_EFFECT EFFECT=case_off

[gcode_macro led_off]
gcode:
	 STOP_LED_EFFECTS

[led_effect case_printing]
leds:
    neopixel:caselighting
autostart: false
frame_rate: 24
layers:
    static 0 1 top (0.5,0.5,0.5)

[led_effect case_printing_progress]
leds:
    neopixel:caselighting (1-19)
autostart: false
frame_rate: 24
layers:
    progress 3 0 subtract (0.5,0,1.0),(0.30,0,0.58)
    static 0 1 top (0.5,0.5,0.5)

[gcode_macro led_printing]
gcode:
 	STOP_LED_EFFECTS ;cancel all others
    UPDATE_DELAYED_GCODE ID=led_sleep DURATION=0             # turn off LED sleep timer 
    SET_LED_EFFECT EFFECT=case_printing_progress

### Probe Calibrate ###
[gcode_macro led_probe_calibrate]
gcode:
 	STOP_LED_EFFECTS ;cancel all others
    UPDATE_DELAYED_GCODE ID=led_sleep DURATION=0             # turn off LED sleep timer 
    SET_LED_EFFECT EFFECT=case_printing

### Sleep ###
[delayed_gcode led_sleep]
gcode:
    led_off ; turn off all LEDs
    UPDATE_DELAYED_GCODE ID=led_sleep DURATION=0

[led_effect case_standby]
leds:
    neopixel:caselighting
autostart:          true
frame_rate:         24
layers:
    breathing 12 1 add (0,0,1.0)
    static 0 0 add (0,0,0.05)

[gcode_macro led_standby]
gcode:
    STOP_LED_EFFECTS ;cancel all others
    SET_LED_EFFECT EFFECT=case_standby
    UPDATE_DELAYED_GCODE ID=led_sleep DURATION=7200                      ; Set to turn off LEDs after 2 hours of inactivity
    