[gcode_macro Z_TILT_ADJUST]
rename_existing: _Z_TILT_ADJUST
gcode:
    BDSENSOR_SET QGL_TILT_PROBE=1
    BDSENSOR_SET COLLISION_HOMING=0
    _Z_TILT_ADJUST horizontal_move_z=6 retry_tolerance=1
    G28 Z0
    BDSENSOR_SET QGL_TILT_PROBE=0
    _Z_TILT_ADJUST horizontal_move_z=1 retry_tolerance=0.04
    G28 Z0
    
[gcode_macro SET_STALL_SENSITIVITY]
description: Setzt die StallGuard-Empfindlichkeit für X und Y temporär
gcode:
    {% set SENSITIVITY = params.SENSITIVITY|default(100)|int %}
    SET_TMC_FIELD STEPPER=stepper_x FIELD=SGTHRS VALUE={SENSITIVITY}
    SET_TMC_FIELD STEPPER=stepper_y FIELD=SGTHRS VALUE={SENSITIVITY}
    M117 StallGuard auf {SENSITIVITY} gesetzt
    
[gcode_macro CALIBRATE_X]
description: Homet X mit einem frei wählbaren StallGuard-Wert. Beispiel: CALIBRATE_X VALUE=115
gcode:
    {% set SG_VAL = params.VALUE|default(140)|int %}
    M117 Teste X mit SG: {SG_VAL}
    SET_TMC_FIELD STEPPER=stepper_x FIELD=SGTHRS VALUE={SG_VAL}
    G28 X

[gcode_macro CALIBRATE_Y]
description: Homet Y mit einem frei wählbaren StallGuard-Wert. Beispiel: CALIBRATE_Y VALUE=120
gcode:
    {% set SG_VAL = params.VALUE|default(140)|int %}
    M117 Teste Y mit SG: {SG_VAL}
    SET_TMC_FIELD STEPPER=stepper_y FIELD=SGTHRS VALUE={SG_VAL}
    G28 Y
    

[delayed_gcode init_filament_sensor]
initial_duration: 1.0
gcode:
    SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=1
    
#[gcode_macro CALIBRATE_EDDY_TAP_GUESS]
#description: Coarse Tap with nozzle on bed
#gcode:
#    {% if "xyz" not in printer.toolhead.homed_axes %}
#        G28 
#    {% endif %}
#    PROBE_EDDY_CURRENT_TAP_CALIBRATE TAP=guess

#[gcode_macro CALIBRATE_EDDY_TAP_REFINED]
#description: 3-10mm over center of bed
#gcode:
#    {% if "xyz" not in printer.toolhead.homed_axes %}
#        G28 
#    {% endif %}
#    PROBE_EDDY_CURRENT_TAP_CALIBRATE TAP=refine
    
#[gcode_macro CALIBRATE_EDDY_TAP_VERIFY]
#description: 3-10mm over center of bed, 5 times nozzle to bed contact
#gcode:
#    {% if "xyz" not in printer.toolhead.homed_axes %}
#        G28 
#    {% endif %}
#    PROBE_EDDY_CURRENT_TAP_CALIBRATE TAP=verify
    
#[gcode_macro EDDY_DRIVE_CURRENT_CALIBRATION]
#description: Drive Current calibration of eddy sensor
#gcode:
#    {% if "xyz" not in printer.toolhead.homed_axes %}
#        G28 
#    {% endif %}
#    LDC_CALIBRATE_DRIVE_CURRENT CHIP=btt_eddy
#    M117 Eddy Drive Current Calibration done
  
#[gcode_macro EDDY_CURRENT_CALIBRATION]
#description: Current calibration of eddy sensor
#gcode:
#    {% if "xyz" not in printer.toolhead.homed_axes %}
#        G28 
#    {% endif %}
#    PROBE_EDDY_CURRENT_CALIBRATE CHIP=btt_eddy
#    M117 Eddy Current Calibration done
    
#[gcode_macro RESET_EDDY_CALIBRATION]
#description: Löscht die aktuelle Eddy-Kalibrierung (Vorsicht!)
#gcode:
#    PPROBE_EDDY_CURRENT_CALIBRATE CHIP=btt_eddy
#    M117 Eddy Calibration Cleared

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
    TURN_OFF_HEATERS
    SET_GCODE_OFFSET Z=0
    CANCEL_PRINT_BASE
    # Startet den 20-Minuten-Timer (1200 Sekunden) zum Lüfter ausschalten
    UPDATE_DELAYED_GCODE ID=fan_off_timer DURATION=1200

[delayed_gcode fan_off_timer]
gcode:
    # Prüft, ob der Drucker im Status "printing" ist
    {% if printer.idle_timeout.state != "Printing" %}
        M107 ; Bauteillüfter aus
        M118 Lüfter nach Timeout deaktiviert.
    {% else %}
        M118 Druck läuft - Lüfter-Timer ignoriert.
    {% endif %}

[delayed_gcode init_filament_sensor]
initial_duration: 1.0
gcode:
    SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=1

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
variable_extrude: 1.0
gcode:
    ##### read E from pause macro #####
    {% set E = printer["gcode_macro PAUSE"].extrude|float %}
    ##### set park positon for x and y #####
    # default is your max posion from your printer.cfg
    {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
    {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
    ##### calculate save lift position #####
    {% set max_z = printer.toolhead.axis_maximum.z|float %}
    {% set act_z = printer.toolhead.position.z|float %}
    {% if act_z < (max_z - 2.0) %}
        {% set z_safe = 2.0 %}
    {% else %}
        {% set z_safe = max_z - act_z %}
    {% endif %}
    ##### end of definitions #####
    PAUSE_BASE
    G91
    {% if printer.extruder.can_extrude|lower == 'true' %}
      G1 E-{E} F2100
    {% else %}
      {action_respond_info("Extruder not hot enough")}
    {% endif %}
    {% if "xyz" in printer.toolhead.homed_axes %}
      G1 Z{z_safe} F900
      G90
      G1 X{x_park} Y{y_park} F6000
    {% else %}
      {action_respond_info("Printer not homed")}
    {% endif %} 
    
[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
    ##### read E from pause macro #####
    {% set E = printer["gcode_macro PAUSE"].extrude|float %}
    #### get VELOCITY parameter if specified ####
    {% if 'VELOCITY' in params|upper %}
      {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
    {%else %}
      {% set get_params = "" %}
    {% endif %}
    ##### end of definitions #####
    {% if printer.extruder.can_extrude|lower == 'true' %}
      G91
      G1 E{E} F2100
    {% else %}
      {action_respond_info("Extruder not hot enough")}
    {% endif %}  
    RESUME_BASE {get_params}
    
[gcode_macro END_PRINT]
description: Beendet den Druck nach Wiki-Standard
gcode:
    M140 S0 ; Bett aus
    M104 S0 ; Hotend aus
    M106 S0 ; Lüfter aus
    G91
    G1 E-2 F2700
    G1 Z5 F3000
    G90
    G1 X5 Y{printer.toolhead.axis_maximum.y - 50} F6000
    BED_MESH_CLEAR
    PROBE_EDDY_NG_SET_TAP_OFFSET VALUE=0
    SET_GCODE_OFFSET Z=0
    M84
    M117 Druck fertig.
    
[gcode_macro HEAT_SOAK]
gcode:
    {% set bed_temp = params.BED|default(60)|float %}
    {% set soak_min = params.TIME|default(0)|int %}
    {% set soak_milsec = soak_min * 60 * 1000 %} # Wir rechnen hier fest um

    M117 Heize Bett...
    M190 S{bed_temp}

    {% if soak_min > 0 %}
        RESPOND MSG="Wartezeit: {soak_min} Minuten"
        M117 Soak aktiv...
        G4 P{soak_milsec}      ; HIER MUSS ER WARTEN
        M107                ; Luefter aus
        M117 Wartezeit vorbei!
        SET_FAN_SPEED FAN=Luftfilter SPEED=1.0
    {% else %}
        M117 Keine Wartezeit.
    {% endif %}

[gcode_macro CANCEL_PRINT]
description: Abbrechen des aktuellen Drucks
rename_existing: CANCEL_PRINT_BASE
gcode:
  TURN_OFF_HEATERS
    CANCEL_PRINT_BASE

[gcode_macro RESET_ACCEL]
description: Setzt die Beschleunigung auf die Standardwerte der Drucker-Konfiguration zurück
gcode:
  {% set max_accel = printer.configfile.settings.printer.max_accel %}
  {% set max_accel_to_decel = printer.configfile.settings.printer.max_accel_to_decel|default(max_accel / 2) %}
  
  SET_VELOCITY_LIMIT ACCEL={max_accel} ACCEL_TO_DECEL={max_accel_to_decel}
  
  {action_respond_info("Beschleunigung auf Max-Wert zurückgesetzt: %d" % max_accel)}